<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">  
  </head>
  <body id="page-top">
  <% # TODO - Set up a link called 'Log Out' that clears the session %>
  <a href="/logout">Log Out</a>

  <% # TODO - user is_logged_in? to only display username and account balance if user is logged in, otherwise, only
     # show link to the home page.
     # Also use current_user to display the username and balance
  %>
  </body>
</html>